@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    
    background-image: linear-gradient(to bottom right,#1c1868 60%,#35309c,#433bd8 );
    height: 150vh;
    /* overflow: hidden;     */
    font-family: 'Baloo Chettan 2', cursive;
    display: flex;
    flex-direction: column;
}

#title{
    text-align: center;
    color: white;
    font-size: 46px;
    margin-top: 3%;
}

/* #cli-text{
    color: #fffb00;
    font-size: 50px;
} */

.initial-top-box{
    margin: 10% auto;
}

.top-box-results{
    margin: 2% auto;
}

#box-form{
    /* background-color: white; */
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: row;
}
#box-form input{
    width: 75%;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 23px;
    padding: 5px;
}
#box-form button{
    width: 20%;
    font-family: 'Baloo Chettan 2', cursive;
    cursor: pointer;
    font-size: 18px;
    background-color: #95bd6d;
    border-color: #95bd6d;
    margin-left: 1%;
    /* border: none */
}

#results{
    /* border: solid 1px red; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.box-city{
    background-color: white;
    border: solid 1px white;
    padding: 18px;
    font-size: 20px;
    border-radius: 5px;
    width: 23%;
    margin-right: 2%;   
}

.temp_info,.city{
    font-size: 22px;
}
.temp_info{
    font-weight: bold;
    font-style: italic;
}
.city{
    font-style: italic;
   
}

.img_result{
    width: 60%;
    margin: 10% auto;
    display: block;
}

.humidity{
    font-size: 16px;
    text-align: center;
    margin: 3% auto;
    display: block;
}